html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

body {
    padding-top: 3em;
}

.hero-foot {
    padding: 1.5em;
    background: #74b9ff;
}

.navbar {
    background: #0984e3;
}

.navbar-item {
    color: #fff;
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background: #333;
    }
}

.navbar-burger {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-burger span {
    height: 2px;
}

.typed-container {
    min-height: 125px;
    vertical-align: top;
}

.typed-title {
    font-family: 'Roboto Condensed';
    font-weight: 700;
}

.typed-cursor {
    font-weight: 700;
    font-family: 'Roboto Condensed';
}

.typed-title,
.typed-cursor {
    font-size: 2em;
    line-height: 1.5em;
}

@media (min-width: 321px) {
    .typed-container {
        min-height: 135px;
    }

    .typed-title,
    .typed-cursor {
        font-size: 2.5em;
    }
}

@media (min-width: 481px) {
    .typed-container {
        min-height: 145px;
    }

    .typed-title,
    .typed-cursor {
        font-size: 2.5em;
    }
}

@media (min-width: 768px) {
    .typed-container {
        min-height: 100px;
    }

    .typed-title,
    .typed-cursor {
        font-size: 3em;
    }
}

@media (min-width: 1024px) {
    .typed-container {
        min-height: 100px;
    }

    .typed-title,
    .typed-cursor {
        font-size: 4em;
    }
}

.typed-cursor.typed-cursor--blink {
    opacity: 1;
    animation: typedjsBlink 1s infinite!important;
}

@keyframes typedjsBlink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.hero-content {
    margin-top: 1em;
    line-height: 2em;
    max-width: 700px;
}

.hero {
    position: relative;
    overflow: hidden;
    color: #fff;
    margin-bottom: 3em;
}

.hero:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3) ), url('../img/loevestein.jpg') no-repeat center center;
    background-size: cover;
    content: '';
    z-index: -1;
}

@media screen and (min-width: 769px) {
    .hero.is-medium .hero-body {
        padding-bottom: 12rem;
        padding-top: 12rem;
    }
}

.section {
    padding: 3em 1.5em;
    margin-bottom: 3em;
}

.section-title {
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-size: 2em;
    margin-bottom: 1em;
}

.content p {
    line-height: 1.5em;
}

.content p:first-child:first-letter {
    font-size: 3em;
    line-height: 0.8em;
    padding-right: 5px;
    font-weight: bold;
    font-family: 'Georgia', 'Times New Roman', 'serif';
}

.timer {
    font-size: 16px;
    color: #2d3436;
    font-weight: bold;
}

.timer > span {
    margin-left: 0.3em;
}

figcaption {
    margin: 0.5em 0 0.5em 0;
    font-size: 0.8em;
    font-style: italic;
}

.sticky-footer {
    width: 100%;
    padding: 1em;
    background: #546E7A;
    font-size: 14px;
    color: #fff;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}

.sticky-footer p {
    text-align: center;
    flex-grow: 1;
}

.dismiss-footer {
    display: block;
}

#map {
    height: 500px;
    z-index: 1;
    margin-top: 4em;
}
