html, body {
    font-family: 'Open Sans', sans-serif;
}

.section {
    padding: 3em 1.5em;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.header {
    background: #1A237E;
    text-align: center;
}

.header__title,
.header__timer {
    color: #fff;
    margin: 0;
    padding: 0;
}

.header__title {
    margin-bottom: 1em;
}

.header__timer > span {
    font-weight: bold;
}
